In [ ]:
%%html
<style>
table {float:left}
</style>

<div>
<img src="https://cps.unileoben.ac.at/wp/CPS_Logo_Black.png" width="260"/>
</div>
Chair of Cyber-Physical-Systems, Austria

<style>
td, th {
   border: none!important;
}
</style>

| Credentials |  |
|----|---|
|Host | Montanuniversitaet Leoben |
|Web | https://cps.unileoben.ac.at |
|Mail | cps@unileoben.ac.at |
|Authors | Vedant Dave, Fotis Lygerakis, Linus Nwankwo, Melanie Neubauer, Nikolaus Feith and Elmar Rueckert|
|Corresponding Authors | melanie.neubauer@unileoben.ac.at, rueckert@unileoben.ac.at |
|Last edited |  28.09.2023 |

# Python Database Basics

<div class="alert alert-block alert-success">
This is a tutorial on the basics of using databases in Python.

## Content
***
[1. Motivation for learning Python?](#sec:whypython)   

[2. Database Overview](#sec:overview)

[3. Database Example in Python](#sec:example)

# <a id="sec:whypython">1. Motivation for Learning Python?</a>
....
    
<div>
<img src="https://cps.unileoben.ac.at/wp/statistics_2023_programming_language.png" width="600"/>
</div>

# <a id="sec:overview">2. Database Overview?</a> 

|  | MariaDB | InfluxDB | PostgreSQL | Graphite | TimescaleDB |
|:--------:|:--------:|:--------:|:--------:|:--------:|:--------:|
|  Type   |  Relational| Time Series |  Relational |  Time Series |  Time Series |
|  Language |  SQL   |  InfluxQL |  SQL |  Graphite Query |  ---   |
|  Scalable |  Good   |  Good   |  Good  |  Lose Performance when saving a big amound of data |  Very Good  |
|  Replication |  Yes   |  Yes   |  Yes  |  No |  Yes  |
|  High-Availability |  Yes   |  Yes   |  Yes  |  No |  Yes  |
|  Data-Transformation |  Limited   |  Yes   |  Yes  |  Yes |  Yes  |
|  Community-Support Python |  Good   |  OK   | --- |  --- |  ---  |
|  Compression |  Yes   |  Yes   |  Yes  |  Yes |  Yes  |
|  Partitioning |  Yes   |  Yes   |  Yes  |  No |  Yes  |
|  Image Saving |  BLOB or BYTEA   |  No   |  BLOB or BYTEA  |  No |  BLOB or BYTEA  |
|  Python |  Mysql-connector-python   |  Influxdb-python   |  psycopg2  |  No |  psycopg2, timescaledb  |
|  Integrated Graphics |  No (connect with Grafana)   |  Yes   |  No  |  Yes |  Yes  |

# <a id="sec:example">3. Database Example in Python</a> 
## Create new Database (open existing Database)

In [15]:
# Import
import sqlite3

In [47]:
# Set the Path of the Database
database_path = 'example_database.db'

In [48]:
# Create connection to the SQLite-Database
db_conn = sqlite3.connect(database_path)
db_cursor = db_conn.cursor()

## Create Table in Database

In [49]:
# Create a Table in Database
db_cursor.execute('''
            CREATE TABLE IF NOT EXISTS students (
                m_number INTEGER PRIMARY KEY,
                name TEXT,
                age INTEGER
                )
                ''')
db_conn.commit()

## Create Entry in Database

In [50]:
# Create two entries for students
student_1 = (123456789, 'Josef', 20)
student_2 = (987654321, 'Sissi', 33)

db_cursor.execute(f'''INSERT INTO students VALUES ({student_1[0]}, '{student_1[1]}', {student_1[2]})''')
db_cursor.execute(f'''INSERT INTO students VALUES ({student_2[0]}, '{student_2[1]}', {student_2[2]})''')
db_conn.commit()

## Show Table from Database

In [43]:
# Print each row of the table students in the database
for row in db_cursor.execute('''SELECT * FROM students'''):
    print(row)

(987654321, 'Sissi', 33)

## Search for Entry in Table

In [39]:
# Search for Student with the m_number 123456789
db_cursor.execute(f'''SELECT name, age FROM students WHERE m_number = {123456789}''')
result = db_cursor.fetchall()
print(result)

[]

## Delete Entry from Table

In [38]:
# Delete Student with the m_number 123456789 from the Database
db_cursor.execute(f'''DELETE FROM students WHERE m_number = {123456789}''')
db_conn.commit()

In [44]:
# Now you can show the table again
# Print each row of the table students in the database
for row in db_cursor.execute('''SELECT * FROM students'''):
    print(row)

(987654321, 'Sissi', 33)

## Close Database Connection

In [51]:
# After using, always close the connection to the database
db_conn.close()